body {
    background-image: radial-gradient(#efefef 15%, transparent 15%), radial-gradient(#eee 15%, transparent 15%);
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px;
}
.form-group.required .col-form-label:after {
    content:" *";
    color:red;
}
.dashboard-icon {
    margin-left: 10px;
    cursor: pointer;
}
.dashboard-icon i.fa-heart {
    color: mediumvioletred;
}
.btn {
    border-width: 2px;
}
.card-header {
    background: rgb(240, 18, 130);
    background: linear-gradient(90deg, rgba(240, 18, 130, 1) 0%, rgba(215, 0, 209, 1) 100%);
    color: white;
}
.card-header .btn-primary {
    color: rgb(240, 18, 130);
    background: white;
    border-color: white;
}
.card-header .btn-primary:hover {
    color: white;
    background: rgba(240, 18, 130, 0);
    border-color: white;
}

/* Loading bar */
@keyframes loader {
    0% {
        width: 0;
    }
    20% {
        width: 30%;
    }
    40% {
        width: 45%;
    }
    60% {
        width: 70%;
    }
    80% {
        width: 90%;
    }
    100% {
        width: 100%;
    }
}
.progress-bar {
    overflow: hidden;
    width: 100%;
    height: 2px;
    position: fixed;
    z-index: 999;
}
.progress-bar span {
    display: block;
}
.bar, .progress-bar {
    background: none;
}
.progress {
    -webkit-animation: loader 5s ease infinite;
    animation: loader 5s ease infinite;
    background: rgba(240, 18, 130, 1);
    color: #fff;
    padding: 0;
    width: 0;
}
