.form-group.required .col-form-label:after {
    content:" *";
    color:red;
}
.dashboard-icon {
    margin-left: 10px;
    cursor: pointer;
}
.dashboard-icon i.fa-heart {
    color: mediumvioletred;
}